<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Dashboard</h1>
  <h2>Welcome <%= username %></span></h2>

  <!-- <script src = "../scripts/dashboard_script.js"></script> -->
</body>
</html>

<!-- TODO: make it so that the page shows the name of the person logged in through express session and cookies, (practice).
TODO: try this with different cookies, copy paste the cookies and see if the logged in name shows. then add the pokemon game or the twitter game. -->